* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  text-align: center;
  color: #333;
}
.social-login{
  display: flex;
}
.forgot-password{
  text-align: end;
}
.login-btn{
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}


.body {
  font-family: 'Poppins', sans-serif; /* Use imported font */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to top right, #00f2fe, #4facfe, #a342f2, #f00fcc); /* Gradient background */
  background-size: 200% 200%;
  animation: backgroundGradient 10s ease infinite; /* Optional background animation */
}

.login-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Add padding for smaller screens */
}
.login-form{
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px; /* Limit max width */
  text-align: center;
}
.input-group{
  text-align: left;
}

.input-group input{
  padding: 20px;
}
.forgot-password{
  margin-top: 20px;
  margin-bottom: 20px;
}
