<div class="product-detail">
    <div class="header">
        <h3>Product deatail</h3>
    </div>
    <form action="" (ngSubmit)="changeDetail(detailForm)" #detailForm="ngForm">
        <div class="form-group">
            <label for="">Product code</label>
            <input type="text" class="form-control" name="productCode" id="productCode" aria-describedby="productHelpId"
                placeholder="Product code" [(ngModel)]="product.productCode">
            <small id="productHelpId" class="form-text text-muted">Product code is required</small>
        </div>
        <div class="form-group">
            <label for="">Product Name</label>
            <input type="text" class="form-control" name="productName" id="productName"
                aria-describedby="productNameHelpId" placeholder="Product name" [(ngModel)]="product.productName">
            <small id="productNameHelpId" class="form-text text-muted">Product name is required</small>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">
                Update
            </button>
        </div>
    </form>
    <hr>
    <p>{{ product |json }}</p>

</div>