<div class="container">
    <div class="search">
        <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Enter search term"
            (keydown.enter)="search()" pattern="[0-9]*" title="Only numbers are allowed"
            (keypress)="onKeyPress($event)" />
        <button class="btn btn-primary" (click)="search()">
            Search
        </button>
        <button class="btn btn-primary" (click)="reload()">
            Reload
        </button>
    </div>

    <!-- Table Product List -->
    <div class="card">
        <div class="card-head" style="margin-left: 20px;">
            {{ title }}
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Product Code</th>
                        <th>Product Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of productSearchresult">
                        <td>{{ p.productCode }}</td>
                        <td>{{ p.productName }}</td>
                        <td>
                            <button class="btn btn-primary" (click)="viewProduct(p)">View</button>
                            <button class="btn btn-primary" (click)="editProduct(p)">Edit</button>
                            <button class="btn btn-primary" (click)="deleteProduct(p)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <app-product-view *ngIf="selectedProduct" [product]="selectedProduct"></app-product-view>
</div>